/*
 mangopi t133 based evb
*/

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "sun8i-t113.dtsi"
// #include "sunxi-common-regulators.dtsi"

/ {
	model = "MangoPi MQ-R (T113-s3)";
	compatible = "mangopi,mangopi-mq-r", "allwinner,sun8i-t113";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_vcc: vcc {
		compatible = "regulator-fixed";
		regulator-name = "vcc";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	reg_vcc_3v3: vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc>;
	};
};

&mmc0 {
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-names = "default";
	cd-gpios = <&gpio 5 6 GPIO_ACTIVE_LOW>;
	bus-width = <4>;
	disable-wp;
	vmmc-supply = <&reg_vcc_3v3>;
	vqmmc-supply = <&reg_vcc_3v3>;
	status = "okay";
};

&uart0 {
	pinctrl-0 = <&uart0_pe_pins>;
    pinctrl-names = "default";
	status = "okay";
};

&spi0 {
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "winbond,w25q128", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
	};
};

&emac {
	pinctrl-0 = <&rmii_pg_pins>;
	pinctrl-names = "default";
	phy-handle = <&ext_rmii_phy>;
	phy-mode = "rmii";
	phy-supply = <&reg_vcc_3v3>;
	status = "okay";
};

&mdio {
	ext_rmii_phy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
		reset-gpios = <&gpio 4 6 GPIO_ACTIVE_LOW>; /* PE16 */
	};
};

&ohci1 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&usbphy {
	/delete-property/ usb0_vbus_det-gpios;
	usb1_vbus-supply = <&reg_vcc>;
	status = "okay";
};
