CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_DEFAULT_DEVICE_TREE="sun8i-t113-mangopi-mq-r"
CONFIG_SPL_TEXT_BASE=0x20060
CONFIG_SPL=y
CONFIG_MACH_SUN8I_T113=y
CONFIG_MMC0_CD_PIN="PF6"
# CONFIG_VIDEO_SUNXI is not set
CONFIG_SPL_SPI_SUNXI=y
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
# CONFIG_AUTOBOOT is not set
CONFIG_PREBOOT=""
# CONFIG_SYS_DEVICE_NULLDEV is not set
CONFIG_LOG_MAX_LEVEL=9
CONFIG_LOG_DEFAULT_LEVEL=6
CONFIG_CMD_CLK=y
CONFIG_CMD_I2C=y
CONFIG_CMD_SDRAM=y
CONFIG_CMD_SPI=y
CONFIG_CMD_LOG=y
# CONFIG_CLK_SUN6I_A31_R is not set
CONFIG_MTD=y
CONFIG_DM_MTD=y
CONFIG_SYS_MTDPARTS_RUNTIME=y
CONFIG_SPI_FLASH_BAR=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_PHY_MICREL=y
CONFIG_PHY_MICREL_KSZ8XXX=y
CONFIG_PHY_MSCC=y
CONFIG_PHY_REALTEK=y
CONFIG_PHY_SMSC=y
CONFIG_DM_ETH_PHY=y
CONFIG_SUN8I_EMAC=y
CONFIG_PHY_SUN4I_USB=y
CONFIG_CONS_INDEX=4
CONFIG_SPI=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_MUSB_HOST=y
# CONFIG_USB_GADGET is not set
# CONFIG_EFI_LOADER is not set
